:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --contact-item-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --hero-button-active: #188ce8;
  --white-background-color: #ffffff;
  --portfolio-border-color: #eeeeee;
  --icon-main-color: #afb1b8;
  --icon-hover-color: #ffffff;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --bold-font: 700;
  --font-size-sixteen: 16px;
  --transform-duration: 250ms;
  --transform-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list, .navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts-list__link, .logotype, .navigation__link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: aquamarine;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    margin-bottom: 306px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    gap: 52px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.navigation__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 40px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .menu__wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu__wrapper {
    display: flex;
    gap: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__wrapper {
    gap: 315px;
  }
}

.logotype {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: var(--bold-font);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logotype {
    font-weight: var(--bold-font);
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-header__logotype {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-header__logotype {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logotype {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logotype--black {
  color: var(--text-black-color);
}

.logotype--light {
  color: var(--text-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.contacts-list__link {
  color: var(--primary-text-color);
  fill: currentColor;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list__link--mobile {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .menu__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    border-color: transparent;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__icon-cross {
  display: none;
}
.menu-button.is-open .menu__icon-cross {
  display: block;
}

.menu__icon-menu {
  display: block;
}
.menu-button.is-open .menu__icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .page-header__container--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */