:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --contact-item-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --hero-button-active: #188ce8;
  --white-background-color: #ffffff;
  --portfolio-border-color: #eeeeee;
  --icon-main-color: #afb1b8;
  --icon-hover-color: #ffffff;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --bold-font: 700;
  --font-size-sixteen: 16px;
  --transform-duration: 250ms;
  --transform-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__icons-list, .clients__list, .team__icons-list, .team__list, .what-we-do__list, .features__list, .button-list, .modal-form__list, .address__list, .contacts-list, .menu-social-list, .menu-contacts-list, .menu-navigation, .navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-footer__icon, .clients__link, .team__icon, .modal-form__link, .address__link, .contacts-list__link, .menu-social-list__link, .menu-contacts-list__link, .menu-navigation__link, .logotype, .navigation__link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding {
  padding-top: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: aqua;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    gap: 52px;
  }
}

.navigation__link {
  display: block;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  position: relative;
  color: var(--accent-color);
}
.navigation__link--current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  border: none;
}

.logotype {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: var(--bold-font);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logotype {
    font-weight: var(--bold-font);
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-header__logotype {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-header__logotype {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logotype {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-footer__logotype {
  margin-bottom: 20px;
}

.logotype--black {
  color: var(--text-black-color);
}

.logotype--light {
  color: var(--text-white-color);
}

.menu {
  background-color: var(--white-background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  transition: opacity var(--transform-duration), visibility var(--transform-timing-function);
}
@media screen and (max-width: 479px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    width: 480px;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.menu-navigation__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.menu-navigation__link:hover, .menu-navigation__link:focus {
  color: var(--accent-color);
}

.menu-navigation__link--current {
  color: var(--accent-color);
}

.menu-contacts-list {
  margin-bottom: 64px;
}

.menu-contacts-list__link {
  display: block;
  color: var(--primary-text-color);
  fill: currentColor;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.menu-contacts-list__link:hover, .menu-contacts-list__link:focus {
  color: var(--accent-color);
}

.menu-contacts-list__link--big-font {
  font-size: 34px;
  margin-bottom: 32px;
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-social-list__item:not(:first-child) {
  margin-left: 10px;
}

.menu-social-list__item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__button--close {
  position: absolute;
  top: 14px;
  right: 15px;
  fill: var(--title-text-color);
  transition: fill var(--transform-duration) var(--transform-timing-function);
}
.menu__button--close:hover, .menu__button--close:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    gap: 30px;
  }
}

.contacts-list__link {
  color: var(--primary-text-color);
  fill: currentColor;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  color: var(--text-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transform-duration) var(--transform-timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-button-active);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transform-duration) var(--transform-timing-function);
}
.form-button:hover, .form-button:focus {
  background-color: var(--hero-button-active);
}

.footer-form__button {
  fill: var(--white-background-color);
}

.button__icon {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .address__list {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__item:first-child .address__link {
  color: var(--text-white-color);
  font-style: normal;
}

.address__item:not(:first-child) .address__link {
  color: var(--contact-item-color);
  font-style: normal;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.address__item:not(:first-child) .address__link:hover, .address__item:not(:first-child) .address__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .page-footer__form-wrapper {
    text-align: center;
  }
}

.footer-form {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer-form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.footer-form__input {
  display: block;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-white-color);
  font-size: 16px;
}
@media screen and (max-width: 479px) {
  .footer-form__input {
    width: calc(100vw - 30px);
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form__input {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--contact-item-color);
}

.footer-form__label {
  margin-right: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transform-duration) var(--transform-timing-function), visibility var(--transform-duration) var(--transform-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background-color: var(--white-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transform-duration) var(--transform-timing-function);
}
@media screen and (max-width: 450px) {
  .modal {
    width: calc(100% - 30px);
    height: auto;
  }
}
@media screen and (min-width: 451px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  fill: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--transform-duration) var(--transform-timing-function);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-form__item {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.modal-form__item:first-child {
  margin-top: 0px;
}
.modal-form__item:nth-child(4n) {
  margin-bottom: 20px;
}
.modal-form__item:last-child {
  margin-bottom: 30px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transform-duration) var(--transform-timing-function);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input-wrapper {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: var(--title-text-color);
  transition: fill var(--transform-duration) var(--transform-timing-function);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transform-duration) var(--transform-timing-function);
}
.modal-form__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form__textarea::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (max-width: 1199px) {
  .modal-form__textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form__icon--custom {
  margin-right: 8px;
  background-color: transparent;
  fill: var(--title-text-color);
  cursor: pointer;
  transition: fill var(--transform-duration) var(--transform-timing-function), background-color var(--transform-duration) var(--transform-timing-function);
}
.modal-form__checkbox:checked + .modal-form__icon--custom {
  background-image: url(./../images/icon-check.svg);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  fill: var(--accent-color);
}
.modal-form__checkbox:focus + .modal-form__icon--custom {
  border: 2px solid var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .modal-form__icon--custom {
    left: 0px;
  }
}

.modal-form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1199px) {
  .modal-form__checkbox-label {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__link {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
}
.modal-form__link:after {
  position: absolute;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .modal-form__link:after {
    bottom: 1px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__link:after {
    bottom: 6px;
  }
}

.modal-form__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .button-list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 8px;
    row-gap: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }
}

.button-list__button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--button-background-color);
  box-shadow: none;
  min-width: 73px;
  min-height: 38px;
  transition: color var(--transform-duration) var(--transform-timing-function), background-color var(--transform-duration) var(--transform-timing-function), box-shadow var(--transform-duration) var(--transform-timing-function);
}
.button-list__button:hover, .button-list__button:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.page-header {
  position: relative;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    max-height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    max-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .hero__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  max-height: 120px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  background-color: var(--button-background-color);
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: var(--bold-font);
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: var(--bold-font);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.what-we-do__list {
  display: flex;
  gap: 30px;
}

.what-we-do__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.what-we-do__description-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do__description {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.team {
  background-color: var(--button-background-color);
}

.team__title {
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .team__title {
    margin-bottom: 30px;
    font-weight: var(--bold-font);
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-weight: var(--bold-font);
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background-color);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__card-wrapper {
  text-align: center;
}
@media screen and (max-width: 479px) {
  .team__card-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__card-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 122px;
    padding-right: 122px;
  }
}
@media screen and (min-width: 768px) {
  .team__card-wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team__card-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  font-size: var(--font-size-sixteen);
  line-height: 1.19;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team__position {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .team__position {
    margin-bottom: 16px;
  }
}

.team__icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-background-color);
  border-radius: 50%;
  fill: var(--icon-main-color);
  transition: background-color var(--transform-duration) var(--transform-timing-function), fill var(--transform-duration) var(--transform-timing-function);
}
.team__icon:hover, .team__icon:focus {
  fill: var(--icon-hover-color);
  background-color: var(--accent-color);
}

.clients__title {
  font-weight: 700;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  height: 92px;
}
@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-main-color);
  border-color: var(--icon-main-color);
  border-radius: 4px;
  fill: var(--icon-main-color);
  transition: border-color var(--transform-duration) var(--transform-timing-function), fill var(--transform-duration) var(--transform-timing-function);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

@media screen and (max-width: 767px) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    gap: 93px;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__block-one-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__block-one-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__block-two-wrapper {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__block-two-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__blocks-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__blocks-wrapper {
    display: flex;
    gap: 70px;
  }
}

.page-footer__text {
  margin-bottom: 20px;
  font-weight: var(--bold-font);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.page-footer__icons-list {
  display: flex;
  gap: 10px;
}

.page-footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-hover-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transform-duration) var(--transform-timing-function);
}
.page-footer__icon:hover, .page-footer__icon:focus {
  background-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */