.clients__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  @include font(var(--bold-font), 36px, 1.17);
  text-align: center;
}
.clients__list {
  @extend %list;
  display: flex;
  gap: 30px;
}
.clients__item {
  width: 170px;
  height: 92px;
}
.clients__link {
  @extend %link;
  @include flex();
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-main-color);
  border-color: var(--icon-main-color);
  border-radius: 4px;
  fill: var(--icon-main-color);
  transition: border-color var(--transform-duration) var(--transform-timing-function),
    fill var(--transform-duration) var(--transform-timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
