.team {
  background-color: var(--button-background-color);
}
.team__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  @include font(var(--bold-font), 36px, 1.17);
  text-align: center;
}
.team__list {
  @extend %list;
  display: flex;
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background-color);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team__card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team__card-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  @include font(500, 16px, 1.19);
  text-align: center;
}
.team__position {
  margin-bottom: 16px;
  font-size: var(--font-size-sixteen);
  line-height: 1.19;
  text-align: center;
}
.team__icons-list {
  @extend %list;
  display: flex;
  gap: 10px;
}
.team__icon {
  @extend %link;
  @include flex();
  width: 44px;
  height: 44px;
  background-color: var(--white-background-color);
  border-radius: 50%;
  fill: var(--icon-main-color);
  transition: background-color var(--transform-duration) var(--transform-timing-function),
    fill var(--transform-duration) var(--transform-timing-function);
  &:hover,
  &:focus {
    fill: var(--icon-hover-color);
    background-color: var(--accent-color);
  }
}
