.address__list {
  @extend %list;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  @extend %link;
}
.address__item:first-child .address__link {
  color: var(--text-white-color);
  font-style: normal;
}
.address__item:not(:first-child) .address__link {
  color: var(--contact-item-color);
  font-style: normal;
  transition: color var(--transform-duration) var(--transform-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
