.contacts-list {
  @extend %list;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 30px;
  }
}
.contacts-list__link {
  @extend %link;
  color: var(--primary-text-color);
  fill: currentColor;
  font-style: normal;
  @include font(500, 24px, 1.17);
  letter-spacing: 0.02em;
  transition: color var(--transform-duration) var(--transform-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: $tablet) {
    @include font(500, 12px, 1.17);
    display: flex;
    align-items: center;
    gap: 8px;
  }
  @media screen and (min-width: $desktop) {
    @include font(500, 14px, 1.14);
    @include flex();
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
