.page-footer__form-wrapper {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-form {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.footer-form__input {
  display: block;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-white-color);
  font-size: 16px;
  @media screen and (max-width: 479px) {
    width: calc(100vw - 30px);
  }
  @media screen and (min-width: $mobile) and (max-width: 1199px) {
    width: 480px;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--contact-item-color);
  }
}
.footer-form__label {
  margin-right: 12px;
}
