.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transform-duration) var(--transform-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  @include flex();
  background-color: transparent;
  fill: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--transform-duration) var(--transform-timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}
