@mixin flex($type: flex, $justify-type: center, $align-type: center) {
  display: $type;
  justify-content: $justify-type;
  align-items: $align-type;
}
@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
@mixin absCenteredY() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
// @mixin breakpoint-min($bp) {
//   @media (min-width: $bp) {
//     @content;
//   }
// }
// @mixin breakpoint-max($bp) {
//   @media (max-width: $bp) {
//     @content;
//   }
// }
// @mixin breakpoint-min-max($bp1, $bp2) {
//   @media (min-width: $bp1) and (max-width: $bp2) {
//     @content;
//   }
// }
