:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --contact-item-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --hero-button-active: #188ce8;
  --white-background-color: #ffffff;
  --portfolio-border-color: #eeeeee;
  --icon-main-color: #afb1b8;
  --icon-hover-color: #ffffff;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --bold-font: 700;
  --font-size-sixteen: 16px;
  --transform-duration: 250ms;
  --transform-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
